.report
  @import "../shell/index"

  table
    td.customer, td.project, td.service
      min-width: 10rem

    td.startedAt, td.stoppedAt
      white-space: nowrap

    td.duration
      text-align: right

    td.duration.total
      font-weight: bold

    tr.total th
      text-align: right

  .columns-selection.row
    margin-left: 0
    margin-right: 0

    label
      margin-right: 16px
