@import 'material/base.scss';
@import 'color.scss';
@import 'tables.scss';

.header .nav li:hover ul.hide {
  display: inherit;
}

.header .nav li ul {
  background: #4CAF50;
  position: absolute;
  width: 100%;
}

.header .nav li.active,
.header .nav li:hover {
  background: #3C9F40;
}

#prompt-container .suggestions
{
  .suggestion {
    font-size: 0.8em;
  }
}

.collection .list-item {
  position: relative;
}

.collection .list-item .title {
  font-size: 1.2rem;
}

.collection .list-item .description {
  color: #9E9E9E;
  font-size: .8rem;
}

.collection .list-item .description:before {
  content: '-';
  padding: 0 .8em;
}

.collection .list-item p {
  margin: 0px;
}

.collection .list-item .secondary-content {
  position: absolute;
  right: 16px;
}

.activity .tag-badges a.tag-edit-button {
  display: none;
}

.activity:hover .tag-badges a.tag-edit-button:hover,
.activity:hover .tag-badges a.tag-edit-button {
  display: inherit;
  text-decoration: none;
}

.badge-list {
  margin: 0;

  > li {
    background-color: #26A69A;
    background-clip: padding-box;
    border-radius: 2px;
    box-sizing: border-box;

    color: #FFF;
    font-size: 1rem;

    min-width: 3rem;
    margin-right: 6px;
    text-align: center;
    line-height: inherit;

    &.incomplete {
      background-color: #FBC02D;
    }
    &.empty {
      background-color: #F44336;
    }

    > a {
      color: inherit;
      padding: 0px 3px;
    }
  }

  &.badge-list-small > li {
    font-size: .7rem;
    min-width: auto;

    form {
      background: #F5F5F5;
      border-bottom: dashed 1px black;
      color: #26A69A;
      padding: 1.3em 0;
      width: 11rem;

      .form-row {
        margin-left: 1em;
        text-align: left;
        width: 100%;

        label {
          display: block;
          font-size: 0.9em;
          line-height: 1em;
          margin-top: 1em;
        }

        input, select, textarea {
          display: block;
          width: 14em;
        }
      }
    }
  }
}

.nav.tag-badges a {
  display: inline;
  padding: 2px 4px;
  position: inherit;
}

.tile-action-show {
  z-index: 2;
}

/*.badge {
  background-color: #26A69A;
  background-clip: padding-box;
  border-radius: 2px;
  box-sizing: border-box;

  font-size: 1rem;
  color: #FFF;

  min-width: 3rem;
  margin-right: 6px;
  padding: 0px 6px;
  text-align: center;
  line-height: inherit;
}

*/
.badge.incomplete {
  background-color: #FBC02D;
}

.badge.empty {
  background-color: #F44336;
}

/*

.badge:hover .dropdown-menu {
  display: block;
}

.badge .dropdown-menu {
  border: 1px solid #4CAF50;
  color: #212121;
  display: none;
  list-style: none;
  margin: -2px 0 0 0;
  position: absolute;
  text-align: left;
  z-index: 2
}

.badge .dropdown-menu li {
  background-color: #ffffff;
  line-height: 20px;
  margin: 0 0 0 -32px;
  padding: 0 15px;
}

.badge .dropdown-menu li:hover {
  background-color: #dedede;
}

.badge .dropdown-menu li .icon {
  margin-right: 5px;
}

.badge .dropdown-menu li.current,
.badge .dropdown-menu li.current:hover {
  background: #6CCF70;
}

.badge .dropdown-menu li a {
  color: #212121;
  text-decoration: none;
}

.badge .dropdown-menu li dl {
  margin: -20px 0 0 20px;
}

.badge .dropdown-menu li dl dd {
  height: 20px;
}

.badge .dropdown-menu li dl dd[contenteditable] {
  background: #FCFFFC;
  font-size: 0.9em;
  padding: 0 5px;
}

.tag-badges.editable {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 2px
}

.tag-badges a.remove {
  display: none;
}

.tag-badges.editable a.remove {
  color: #FFF;
  display: inherit;
  margin-left: 3px;
}

.tag-badges.editable a.remove:hover {
  color: #F00;
  text-decoration: none;
}

.tag-badges input {
  border: none;
}*/

.hide {
  display: none;
}
