.collection .list-item {
  position: relative;
}

.collection .list-item .title {
  font-size: 1.2rem;
}

.collection .list-item .description {
  color: #9E9E9E;
  font-size: .8rem;
}

.collection .list-item .description:before {
  content: '-';
  padding: 0 .8em;
}

.collection .list-item p {
  margin: 0px;
}

.collection .list-item .secondary-content {
  position: absolute;
  right: 16px;
}

.bagde {
  background-color: #26A69A;
  background-clip: padding-box;
  border-radius: 2px;
  box-sizing: border-box;

  font-size: 1rem;
  color: #FFF;

  min-width: 3rem;
  margin-right: 6px;
  padding: 0px 6px;
  text-align: center;
  line-height: inherit;
}

.incomplete {
  background-color: #fbc02d;
}

.empty {
  background-color: #F44336;
}

.hide {
  display: none;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

table > thead > tr > th, 
table > thead > tr > td, 
table > tbody > tr > th, 
table > tbody > tr > td, 
table > tfoot > tr > th, 
table > tfoot > tr > td {
  padding: 10px;
  line-height: 1.429; 
}
table > thead > tr > th {
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  font-weight: 700; 
}
table > tbody + tbody {
  border-top: 2px solid rgba(0, 0, 0, 0.12); 
}
table.bordered > tbody > tr > td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); 
}
