.activities
  @import "badge"
  @import "shell/index"

  .activity-icon
    background: url("../img/activity-gray.png") no-repeat center right
    padding-right: 28px

  .filter-icon
    background: url("../img/filter-gray.png") no-repeat center left
    padding-left: 28px
