.activities
  @import "badge"
  @import "shell/index"

  .tile
    .row
      .timeslices
        .tile-action
          a.duration
            padding-top: 18px
          li:nth-child(3)
            margin-left: -45px
            position: absolute
        .tile-inner
          input
            width: 212px
      table
        width: 100%

        th
          padding-right: 1em
          text-align: right

  .activity-icon
    background: url("../img/activity-gray.png") no-repeat center right
    padding-right: 28px

  .filter-icon
    background: url("../img/filter-gray.png") no-repeat center left
    padding-left: 28px
