.settings
  .statistics
    @import "../../lib/codemirror.styl"
    .CodeMirror
      height 120px
    .statisticsItem
      background #fafafa
      border 1px dashed #4caf50
      padding 10px
      margin-bottom 10px

      label
        display block

        .filter, .target, .title
          display inline-block
          min-width 200px

      .codebox,
      .codebox pre
        font-size: 13px
        line-height: 15px
