.filter
  .bookmarks
    margin-left: -10px
    margin-top: 5px
    position: absolute
    top: 0

    select
      background: transparent
      border: none
      color: transparent
      cursor: pointer
      width: 35px

      option
        background: white
        color: black
