// Mixins

// Base
@import '../../node_modules/normalize-styl/normalize'
@import './mixins/font-faces'
@import './mixins/color'

body
  font-family Roboto,Helvetica Neue,Helvetica,Arial,sans-serif
  -webkit-font-smoothing subpixel-antialiased

@import './components/header'
@import './components/navigation'
