<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="initial-scale=1.0, width=device-width" name="viewport">
    <title>Dime Timetracker</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="packages/dime/frontend/css/base.css">
    <link rel="stylesheet" href="packages/dime/frontend/css/color.css">
    <link rel="stylesheet" href="packages/dime/frontend/css/app.css">
    <link rel="shortcut icon" href="packages/dime/frontend/img/favicon.ico" type="image/x-icon" sizes="16x16 32x32 64x64 128x128 256x256" />

    <meta name="application-name" content="Dime Timetracker" />
    <meta name="msapplication-TileColor" content="#4CAF50" />
    <meta name="msapplication-square150x150logo" content="packages/dime/frontend/img/tile150.png" />
    <meta name="msapplication-wide310x150logo" content="packages/dime/frontend/img/tile310x150.png" />
    <meta name="msapplication-square310x310logo" content="packages/dime/frontend/img/tile310.png" />
    <meta name="apple-mobile-web-app-title" content="Dime Timetracker">
  </head>
  <body>
    <header class="header">
      <div class="clearfix pull-left">
        <a class="header-logo" href="#/"><i class="icon icon-access-time"></i> Dime Timetracker</a>
      </div>
      <div id="app-menu" class="pull-right"></div>
    </header>
    <section  class="content">
      <div class="content-heading"></div>
      <div class="content-inner">
        <div id="prompt" class="container"></div>
        <div id="app" class="container"></div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <p>(c) 2015</p>
      </div>
    </footer>

    <!-- vendors -->
    <script src="packages/dime/frontend/js/vendor/mithril.js"></script>
    <script src="packages/dime/frontend/js/vendor/lodash.min.js"></script>
    <script src="packages/dime/frontend/js/vendor/moment.js"></script>
    <script src="packages/dime/frontend/js/vendor/resource.js"></script>

    <!-- init app -->
    <script src="packages/dime/frontend/js/init.js"></script>

    <!-- helper -->
    <script src="packages/dime/frontend/js/helper/duration.js"></script>
    <script src="packages/dime/frontend/js/helper/parser.js"></script>

    <!-- views -->
    <script src="packages/dime/frontend/js/modules/menu/menu.js"></script>

    <!-- modules -->
    <script src="packages/dime/frontend/js/modules/activity/activity.js"></script>
    <script src="packages/dime/frontend/js/modules/activity/model.js"></script>
    <script src="packages/dime/frontend/js/modules/activity/views/item.js"></script>

    <script src="packages/dime/frontend/js/modules/customer/customer.js"></script>
    <script src="packages/dime/frontend/js/modules/customer/views/form.js"></script>
    <script src="packages/dime/frontend/js/modules/customer/views/item.js"></script>
    <script src="packages/dime/frontend/js/modules/customer/views/select.js"></script>
    <script src="packages/dime/frontend/js/modules/customer/views/badge.js"></script>

    <script src="packages/dime/frontend/js/modules/project/project.js"></script>
    <script src="packages/dime/frontend/js/modules/project/views/select.js"></script>
    <script src="packages/dime/frontend/js/modules/project/views/badge.js"></script>

    <script src="packages/dime/frontend/js/modules/service/service.js"></script>
    <script src="packages/dime/frontend/js/modules/service/views/select.js"></script>
    <script src="packages/dime/frontend/js/modules/service/views/badge.js"></script>

    <script src="packages/dime/frontend/js/modules/prompt/prompt.js"></script>
    <script src="packages/dime/frontend/js/modules/timeslice/timeslice.js"></script>
    <script src="packages/dime/frontend/js/modules/tag/tag.js"></script>

    <!-- launch app -->
    <script src="packages/dime/frontend/js/app.js"></script>
  </body>
</html>
