<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dime Timetracker</title>
    
  <link rel="stylesheet" href="packages/dime/frontend/css/bootstrap.min.css">
  <link rel="stylesheet" href="packages/dime/frontend/css/main.css">
</head>
<body>
  <div id="main"></div>
  <script src="packages/dime/frontend/js/moment.js"></script>
  <script src="packages/dime/frontend/js/node_modules/amygdala/node_modules/underscore/underscore-min.js"></script>
  <script src="packages/dime/frontend/js/node_modules/amygdala/node_modules/q/q.js"></script>
  <script src="packages/dime/frontend/js/node_modules/amygdala/node_modules/wolfy87-eventemitter/EventEmitter.min.js"></script>
  <script src="packages/dime/frontend/js/node_modules/amygdala/amygdala.js"></script>
  <script src="packages/dime/frontend/js/mithril.js"></script>
  <script src="packages/dime/frontend/js/app.js"></script>
</body>
</html>
