.tile-action
  a.duration
    padding-top 18px
  li:nth-child(3)
    margin-left -45px
    position absolute
.tile-inner
  padding 0 16px
  label
    display inline-block
    .label
      background none
      color #999
      display inline-block
      text-align right
      width 70px
  input
    text-align left
    height 30px
    width 150px
    &[type=time]
      width 100px
