.activities .card .card-main .edit.ticketLink,
.projects .card .card-main .edit.ticketLink
  .help
    font-size: 12px
    line-height: 14px
    margin-bottom: 30px

  & > div
    margin-left: 20px

    &.form-row
      margin-bottom: 16px

      .form-element
        label
          border: none
          height: 16px
          margin-top: -34px

          input
            width: 260px
