@import "filter/bookmarks"
@import "merger"

.console
  background-color: black
  bottom: 0
  color: green
  height: 3em
  left: 0
  width: 100%

  .card
    background: black
    border: none

    input.form-control
      border-bottom: none
      color: green
      font-family: Consolas,'Lucida Console','DejaVu Sans Mono'
      font-size: 80%
      font-weight: bold

      &:placeholder
        color: #484

      &:focus:placeholder
        color: #252

.suggestions
  .suggestion
    font-size: 0.8em
