@import "../../lib/codemirror.styl"

.mergebox
  .description
    height: 36px
    line-height: 36px

  select
    display: inline
    width: inherit

  #codename
    margin-bottom 1rem

    input
      margin-left 0.3rem
      width 20rem

    button
      height 24px
      line-height 12px
      margin-left 0.3rem
      vertical-align top

  .codebox,
  .codebox pre
    font-size: 13px
    line-height: 15px
