@import "../../lib/codemirror.styl"

.mergebox
  .description
    height: 36px
    line-height: 36px

  select
    display: inline
    width: inherit

  .codebox,
  .codebox pre
    font-size: 13px
    line-height: 15px
